{% extends "base.html" %}

	{% block content %}
{% autoescape on %}
    	<h2>Signup</h2>
		<form action="/unit6/signup" method="post">
			Username: <input type="text" name="username" value="{{username}}"> {{username_error}} 
			<br>
			Password: <input type="password" name="password" value="{{password}}"> {{password_error}} 
			<br>
			Verify Password: <input type="password" name="verify" value="{{verify}}"> {{verify_error}} 
			<br>
			Email: <input type="text" name="email" value="{{email}}"> {{email_error}} 
			<br>
			{{user_exists_error}}
			<br>
			<input type="submit">
		</form>
		<br>
		<a href="/unit6/login">Login</a>	
{% endautoescape %}
	{% endblock %}
